main.css
.htaccess
node_modules/
editor-style.css
editor-style.css.map
bundle.js
package-lock.json
.DS_Store
Thumbs.db

/*/*
!/*/wp-content/
/*/wp-content/*
!/*/wp-content/themes/
/*/wp-content/themes/*
!/*/wp-content/themes/themrish/
!/wp-content/themes/themrish/style.css
/wp-content/themes/themrish/styleguide/

#各プラグインは管理対象とするか確認してから含める。

!/*/wp-content/plugins/
/*/wp-content/plugins/*
!/*/wp-content/plugins/sample/
